.nav-tabs {
    float: left;
     width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid transparent;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: left;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    float: left;
    text-decoration: none;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555 ;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    box-shadow: 0 0 2px 1px rgb(235, 233, 233);
}

.tab-content .tab-pane {
    float: left;
    width: 60%;
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 5px 4px -2px rgba(0,0,0,0.15);
}

.gigListTable{
    width:100%; 
    text-align: left;
    border: none !important; 
}
.gigListTable th {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
    color: #718096;
    padding: 1rem, 1.5rem;
    border-bottom: 1px solid #718096;
    background-color: #9a9b9c;
    letter-spacing: .025em;
} 
.gigListTable td {
    font-size: .875rem; 
    padding: 1rem, 1.5rem; 
}
/* Define the hover highlight color for the table row */
.gigListTable tr:hover {
        background-color: #c0c2c5;
}

.text-blue-800 {
    color: #2c5282;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.gig-details-main {
        margin: 0 auto; 
        padding: 1rem 1.5rem; 
        text-align: left;
}

.gig-details-label {
    padding: .25rem 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.gig-details-data {
    font-style: normal;
}

.gig-details-col1 {
    width: 100%; 
    padding: 0 .75rem; 
    margin-bottom: 1.5rem;
}

.gig-details-col2 {
    width: 100%;
    padding: 0 .75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

@media only screen and (min-width: 768px) {
    .gig-details-col1 {
        width: 40%;
        margin-bottom: 0;
    }

    .gig-details-col2 {
        width: 60%;
    }
}
    